<html>
<head>
  <title>Porkerhands</title>
  <link rel ="stylesheet" href="home.scss">
  <meta charset="utf-8">
</head>
<body>


  <header>
    <h1>Check a Porker Hand</h1>
  </header>
  <div class="contents">
    <div class="form">
      <%= form_tag("/", method: :post) do %>
        <%= text_field_tag :cards , placeholder=@hand %>
        <%= submit_tag "check" %>
      <% end %>
    </div>
    <div class="hand"><p><%= @card.yaku %></p></div>
    <div>
      <div class="error">
        <% if @card.errors.present? %>
          <% @card.errors.each do |error| %>
          <%= error %>
          <br>
        <% end %>
          </div>

      <% end %>
    </div>
  </div>
  <footer>
    <small>©Copyright 2019 porkerhands All Rights Reserved.</small>
  </footer>


</body>
</html>