<%= form_tag("/judge", method: :post) do %>
  <%= text_field_tag :cards %>
  <%= submit_tag "check" %>
  <%= @card.yaku %>

<div>
  <% if @card.errors.present? %>
    <% @card.errors.each do |error| %>
    <%= error %>
    <br> 
    <% end %>

  <% end %>
</div>
<%end %>
